<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{ site.title }}</title>
     <link rel="stylesheet" href="/ga_resume/maiin.css">
</head>
<body>
     {% include header.html %}

    <div class="container">
         <div class="content">
               <h2>Introduction</h2>
               <p>
                    {{ content }}
               </p>

               <li> Birhday: {{ site.data.main.personalinfo.birth }}</li>
               <li>Age: {{ site.data.main.personalinfo.age }}</li>
               <li> City: {{ site.data.main.personalinfo.city }}</li>
               <li>Nationality: {{ site.data.main.personalinfo.nationality }}</li>
               <li>Social Status: {{ site.data.main.personalinfo.Social }}</li>
               <li>Degree: {{ site.data.main.personalinfo.Degree }}</li>
               <li>Email: {{ site.data.main.personalinfo.Email }}</li>
          
         </div>

         <hr>

         <div class="content">

          <h2>Services & Skills</h2>

          <ul>
               <li>{{ site.data.main.skills[0] }}</li>
               <li>{{ site.data.main.skills[1] }}</li>
               <li>{{ site.data.main.skills[2] }}</li>
               <li>{{ site.data.main.skills[3] }}</li>
               <li>{{ site.data.main.skills[4] }}</li>
               <li>{{ site.data.main.skills[5] }}</li>
               <li>{{ site.data.main.skills[6] }}</li>
               <li>{{ site.data.main.skills[7] }}</li>
               <li>{{ site.data.main.skills[8] }}</li>
          </ul>

         </div>

         <hr>

         <div class="content">
              <h2>Experience</h2>
              <h5>April 2019 – July 2019</h5>
              <h3>Web Designer trainee at at Elsewedy company (Egypt)</h3>
              <h5>Web Designer using HTML & CSS</h5>

              <hr style="text-align: left;">

              <h5>August 2019 – current </h5>
              <h3>Junior Web Designer & Developer at PixelSoft company (Al Khobar))</h3>
              <h5>Web Designer using HTML & CSS, WordPress and Elementor</h5>
              <h3>Languages </h3>
              <li>Arabic – native</li>
              <li>English</li>
         </div>

         <hr>

         <div class="content">
              <h2>My Recent Work</h2>

              <ul>
                   <li><a href="http://www.flashd-sa.com">{{ site.data.main.work[0] }}</a></li>
                   <li><a href="http://perfectstore.online">{{ site.data.main.work[1] }}</a></li>
                   <li><a href="https://drinkatleft.com">{{ site.data.main.work[2] }}</a></li>
                   <li><a href="https://perfectdes.com">{{ site.data.main.work[3] }}</a></li>
                   <li><a href="https://www.jana-sa.org">{{ site.data.main.work[4] }}</a></li>
                   <li><a href="https://www.pwc.com.sa">{{ site.data.main.work[5] }}</a></li>
                   <li><a href="http://www.stonevillage.com.sa">{{ site.data.main.work[6] }}</a></li>
                   <li><a href="http://www.safinacatering.com">{{ site.data.main.work[7] }}</a></li>
                   <li><a href="http://mtr-global.com">{{ site.data.main.work[8] }}</a></li>
                   <li><a href="https://pcc-groups.com">{{ site.data.main.work[9] }}</a></li>
                   <li><a href="http://moog.sa">{{ site.data.main.work[10] }}</a></li>
                   <li><a href="http://billa.com.sa">{{ site.data.main.work[11] }}</a></li>
                   <li><a href="http://ooj.com.sa">{{ site.data.main.work[12] }}</a></li>
              </ul>
         </div>
    </div>
    
</body>
</html>