<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{ site.title }}</title>
     <link rel="stylesheet" href="/ga_resume/assets/main.css">
</head>
<body>
     {% include header.html %}

    <div class="container">
         <div class="content">
               <h2>Introduction</h2>
               <p>
                    {{ content }}
               </p>


               <li> Birhday: {{ site.data.main.personalinfo.birth }}</li>
               <li>Age: {{ site.data.main.personalinfo.age }}</li>
               <li> City: {{ site.data.main.personalinfo.city }}</li>
               <li>Nationality: {{ site.data.main.personalinfo.nationality }}</li>
               <li>Social Status: {{ site.data.main.personalinfo.Social }}</li>
               <li>Degree: {{ site.data.main.personalinfo.Degree }}</li>
               <li>Email: {{ site.data.main.personalinfo.Email }}</li>
          
         </div>

         <hr>

         <div class="content">

          <h2>Services & Skills</h2>

          <ul>

               {% for item in site.data.main.skills %}
               <li>{{item}}</li>
               {% endfor %}
               
          </ul>

         </div>

         <hr>

         <div class="content">
              <h2>Experience</h2>
              <h5>April 2019 – July 2019</h5>
              <h3>Web Designer trainee at at Elsewedy company (Egypt)</h3>
              <h5>Web Designer using HTML & CSS</h5>

              <hr style="text-align: left;">

              <h5>August 2019 – current </h5>
              <h3>Junior Web Designer & Developer at PixelSoft company (Al Khobar))</h3>
              <h5>Web Designer using HTML & CSS, WordPress and Elementor</h5>
              <h3>Languages </h3>
              <li>Arabic – native</li>
              <li>English</li>
         </div>

         <hr>

         <div class="content">
              <h2>My Recent Work</h2>

              <ul>

               {% for item in site.data.main.work %}
               <li><a href="{{item}}">{{item}}</a></li>
               {% endfor %}

              </ul>
         </div>
    </div>
    
</body>
</html>